.solo-start {
    min-height: 100vh;
    background: linear-gradient(180deg, #A4E5FF 51.44%, #E6F8FF 65.87%);
    padding: 40px 60px; position: relative;
    font-family: "Instrument Sans", sans-serif;
}

.logo-wrapper {
    position: relative; display: flex;
    top: -5px; left: -25px;
    align-items: center;
    gap: 10px;          
}

.home-button {
    display: inline-flex; margin-top: 20px;
    position: relative; left: -28px;
    align-items: center; gap: 10px;                   
    background-color: #E6E6E6; color: #454545;
    border: 5px solid #E6E6E6; border-radius: 20px;         
    padding: 10px 16px;
    cursor: pointer;
    font-weight: 700; font-size: 16px; font-family: "Instrument Sans";
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 140ms ease, box-shadow 140ms ease;
    flex: 1;
}

.home-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

 .water-solo {
    width: 1520px; height: 245px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #1AABE5 21.15%, #2466DB 100%);
    position: absolute; margin-top: 410px; margin-left: -70px;
}